<html lang='en'>
<body>
<p>Hello {{name}},</p>
<br />
<p>You requested to reset your password for your Bookify account.</p>
<p>
  Click
  <b><a href='{{link}}' target='_blank'>here</a></b>
  to reset your password or go to this link:
  {{link}}
</p>
<p><small>This link will expire in 1 hour. If you didn't request this, please ignore this email.</small></p>
<br />
<p>Best regards,</p>
<p>Bookify Team</p>
</body>
</html>